@model DdmWebClient.Models.HomeIndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>TestPage</title>
</head>
<body>
    <div>
        Name [@Model.User.Name]
    </div>
    <div>
        Id [@Model.User.Id]
    </div>
    <table border="1">
        <tr>
            <td align="center">Album Name</td>
            <td align="center">Album Id</td>
            <td align="center">File Name</td>
            <td align="center">File Id</td>
            <td align="center">File content</td>
        </tr>
        @foreach (var album in Model.User.Albums)
        {
            foreach (var file in album.Files)
            {
                <tr>
                    <td align="center">
                        @album.Name
                    </td>
                    <td align="center">
                        @album.Id
                    </td >
                    <td align="center">
                        @file.Name
                    </td>
                    <td align="center">
                        @file.Id
                    </td>
                    <td>
                        <img src="@string.Format("{0}{1}", @Model.ImagePath, file.Id)" width="100" height="100"/>
                    </td>
                </tr>
            }
        }
    </table>
</body>
</html>
