@using DdmWebClient.Models
@model DdmWebClient.Models.HomeIndexModel

@{
    Layout = null;

    var ajaxImagesGet = new AjaxOptions
    {
        UpdateTargetId = "messageList",
        Url = Url.Action("GetAlbumImages")
    };
}

<!DOCTYPE html>

<html>
<head>
    <title>TestPage</title>
</head>
<body>
    <div>
        Name [@Model.User.Name]
    </div>
    <div>
        Id [@Model.User.Id]
    </div>
    <div>
        Albums:
        @*        @foreach (var album in Model.User.Albums)
        {
            <button>
                @album.Name
            </button>  
        }*@
    </div>
    <div>

        @using (Ajax.BeginForm(ajaxImagesGet))
        {
            <tbody id="messageList">
                @Html.Partial("GetAlbumImages", new AlbumInfoModel { Album = Model.User.Albums.FirstOrDefault() })
            </tbody>
            
            @*foreach (var album in Model.User.Albums)
            {
            <input type="submit" value="@album.Name" id="@album.Id" />
            }*@
        }

        @foreach (var album in Model.User.Albums)
        {
            using (Ajax.BeginForm("GetAlbumImages", new AjaxOptions
                                         {
                                             Url = Url.Action("GetAlbumImages", new { albumId = album.Id}),
                                             UpdateTargetId = "messageList"
                                         }))
            {
            <input type="submit" value="@album.Name" />
            }
        }
    </div>
</body>
</html>
